##### Step 1: Import libraries

In [36]:
import pandas as pd

##### Step 2: Load the CSV file

In [37]:
df = pd.read_csv('Loan_Prediction_DataSet.csv')

##### Step 3: See first 5 rows

In [38]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002308,Male,Yes,0,Not Graduate,No,2167,2400.0,115.0,360.0,1.0,Urban,Y
1,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP001978,Male,No,0,Graduate,No,4000,2500.0,140.0,360.0,1.0,Rural,Y
3,LP001882,Male,Yes,3+,Graduate,No,4333,1811.0,160.0,360.0,0.0,Urban,Y
4,LP001289,Male,No,0,Graduate,No,8566,0.0,210.0,360.0,1.0,Urban,Y

In [39]:
df.tail(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
11980,LP001155,Female,Yes,0,Not Graduate,No,1928,1644.0,100.0,360.0,1.0,Semiurban,Y
11981,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban,Y
11982,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
11983,LP002364,Male,Yes,0,Graduate,No,14880,0.0,96.0,360.0,1.0,Semiurban,Y
11984,LP002301,Female,No,0,Graduate,Yes,7441,0.0,194.0,360.0,1.0,Rural,N
11985,LP001114,Male,No,0,Graduate,No,4166,7210.0,184.0,360.0,1.0,Urban,Y
11986,LP001835,Male,Yes,0,Not Graduate,No,1668,3890.0,201.0,360.0,0.0,Semiurban,N
11987,LP001825,Male,Yes,0,Graduate,No,1809,1868.0,90.0,360.0,1.0,Urban,Y
11988,LP002640,Male,Yes,1,Graduate,No,6065,2004.0,250.0,360.0,1.0,Semiurban,Y
11989,LP001698,Male,No,0,Not Graduate,No,3975,2531.0,55.0,360.0,1.0,Rural,Y
11990,LP001580,Male,Yes,2,Graduate,No,8000,0.0,200.0,360.0,1.0,Semiurban,Y
11991,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
11992,LP001734,Female,Yes,2,Graduate,No,4283,2383.0,127.0,360.0,NaN,Semiurban,Y
11993,LP002175,Male,Yes,0,Graduate,No,4750,2333.0,130.0,360.0,1.0,Urban,Y
11994,LP001870,Female,No,1,Graduate,No,3481,0.0,155.0,36.0,1.0,Semiurban,N
11995,LP002634,Female,No,1,Graduate,No,13262,0.0,40.0,360.0,1.0,Urban,Y
11996,LP002223,Male,Yes,0,Graduate,No,4310,0.0,130.0,360.0,NaN,Semiurban,Y
11997,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
11998,LP002529,Male,Yes,2,Graduate,No,6700,1750.0,230.0,300.0,1.0,Semiurban,Y
11999,LP001492,Male,No,0,Graduate,No,14999,0.0,242.0,360.0,0.0,Semiurban,N

##### Step 4: Check basic info

In [40]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,12000.000000,12000.000000,11573.000000,11728.000000,11027.000000
mean,5393.140750,1618.983533,146.382788,342.071623,0.843475
std,6044.515952,2917.396985,85.562356,65.117412,0.363369
min,150.000000,0.000000,9.000000,12.000000,0.000000
25%,2876.000000,0.000000,100.000000,360.000000,1.000000
50%,3813.000000,1167.000000,128.000000,360.000000,1.000000
75%,5800.000000,2283.000000,168.000000,360.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            12000 non-null  object
 1   Gender             11744 non-null  object
 2   Married            11941 non-null  object
 3   Dependents         11706 non-null  object
 4   Education          12000 non-null  object
 5   Self_Employed      11371 non-null  object
 6   ApplicantIncome    12000 non-null  int64
 7   CoapplicantIncome  12000 non-null  float64
 8   LoanAmount         11573 non-null  float64
 9   Loan_Amount_Term   11728 non-null  float64
 10  Credit_History     11027 non-null  float64
 11  Property_Area      12000 non-null  object
 12  Loan_Status        12000 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.2+ MB

##### Step 5: Check missing values

In [42]:
df.isnull().sum()

Loan_ID                0
Gender               256
Married               59
Dependents           294
Education              0
Self_Employed        629
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount           427
Loan_Amount_Term     272
Credit_History       973
Property_Area          0
Loan_Status            0
dtype: int64

In [43]:
# Fill categorical
for col in ['Gender', 'Married', 'Dependents', 'Self_Employed']:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Fill numeric
for col in ['LoanAmount', 'Loan_Amount_Term', 'Credit_History']:
    df[col].fillna(df[col].median(), inplace=True)

C:\Users\Veeramani\AppData\Local\Temp\ipykernel_1932\4112334568.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\Veeramani\AppData\Local\Temp\ipykernel_1932\4112334568.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [44]:
# Check
#print(df.isnull().sum()) or
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            12000 non-null  object
 1   Gender             12000 non-null  object
 2   Married            12000 non-null  object
 3   Dependents         12000 non-null  object
 4   Education          12000 non-null  object
 5   Self_Employed      12000 non-null  object
 6   ApplicantIncome    12000 non-null  int64
 7   CoapplicantIncome  12000 non-null  float64
 8   LoanAmount         12000 non-null  float64
 9   Loan_Amount_Term   12000 non-null  float64
 10  Credit_History     12000 non-null  float64
 11  Property_Area      12000 non-null  object
 12  Loan_Status        12000 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.2+ MB

In [46]:
# cheak the column for duplicates
df.duplicated('Loan_ID').sum()

11386

In [47]:
df.drop_duplicates(subset = 'Loan_ID', inplace = True)
df.duplicated('Loan_ID').sum()

0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 2844
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.2+ KB

In [49]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002308,Male,Yes,0,Not Graduate,No,2167,2400.0,115.0,360.0,1.0,Urban,Y
1,LP002502,Female,Yes,2,Not Graduate,No,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP001978,Male,No,0,Graduate,No,4000,2500.0,140.0,360.0,1.0,Rural,Y
3,LP001882,Male,Yes,3+,Graduate,No,4333,1811.0,160.0,360.0,0.0,Urban,Y
4,LP001289,Male,No,0,Graduate,No,8566,0.0,210.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2487,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
2537,LP002840,Female,No,0,Graduate,No,2378,0.0,9.0,360.0,1.0,Urban,N
2571,LP001698,Male,No,0,Not Graduate,No,3975,2531.0,55.0,360.0,1.0,Rural,Y
2772,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N
2844,LP001854,Male,Yes,3+,Graduate,No,5250,0.0,94.0,360.0,1.0,Urban,N

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 2844
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.2+ KB

In [51]:
# Fix Dependents
df['Dependents'] = df['Dependents'].replace('3+', 3).astype(int)

# Fix integer-like floats
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(int)
df['Credit_History'] = df['Credit_History'].astype(int)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 2844
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int32
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    int32
 10  Credit_History     614 non-null    int32
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(2), int32(3), int64(1), object(7)
memory usage: 60.0+ KB

In [53]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Binary label encoding
for col in ['Gender', 'Married', 'Education', 'Self_Employed', 'Loan_Status']:
    df[col] = le.fit_transform(df[col])

# One-hot encoding for multi-class columns
df = pd.get_dummies(df, columns=['Property_Area'], drop_first=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 2844
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Loan_ID                  614 non-null    object
 1   Gender                   614 non-null    int32
 2   Married                  614 non-null    int32
 3   Dependents               614 non-null    int32
 4   Education                614 non-null    int32
 5   Self_Employed            614 non-null    int32
 6   ApplicantIncome          614 non-null    int64
 7   CoapplicantIncome        614 non-null    float64
 8   LoanAmount               614 non-null    float64
 9   Loan_Amount_Term         614 non-null    int32
 10  Credit_History           614 non-null    int32
 11  Loan_Status              614 non-null    int32
 12  Property_Area_Semiurban  614 non-null    bool
 13  Property_Area_Urban      614 non-null    bool
dtypes: bool(2), float64(2), int32(8), int64(1), object(1)
memory usage: 44.4+ KB

In [55]:
df = df.drop('Loan_ID', axis=1)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 2844
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   614 non-null    int32
 1   Married                  614 non-null    int32
 2   Dependents               614 non-null    int32
 3   Education                614 non-null    int32
 4   Self_Employed            614 non-null    int32
 5   ApplicantIncome          614 non-null    int64
 6   CoapplicantIncome        614 non-null    float64
 7   LoanAmount               614 non-null    float64
 8   Loan_Amount_Term         614 non-null    int32
 9   Credit_History           614 non-null    int32
 10  Loan_Status              614 non-null    int32
 11  Property_Area_Semiurban  614 non-null    bool
 12  Property_Area_Urban      614 non-null    bool
dtypes: bool(2), float64(2), int32(8), int64(1)
memory usage: 39.6 KB

In [57]:
df.shape

(614, 13)

In [58]:
df['Loan_Status'].value_counts()

Loan_Status
1    422
0    192
Name: count, dtype: int64

In [59]:
X = df.drop('Loan_Status', axis=1)
y = df['Loan_Status']

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [61]:
from sklearn.ensemble import RandomForestClassifier

# Create the model
rf_model = RandomForestClassifier(
    n_estimators=100,      # number of trees
    max_depth=None,        # let trees grow fully
    random_state=42
)

# Train (fit) the model
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [62]:
y_pred = rf_model.predict(X_test)

In [63]:
from sklearn.metrics import accuracy_score, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8373983739837398

Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.52      0.63        33
           1       0.84      0.96      0.90        90

    accuracy                           0.84       123
   macro avg       0.83      0.74      0.76       123
weighted avg       0.83      0.84      0.82       123

In [64]:
y_pred

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1])

In [66]:
# Example new applicant data (make sure order & column names match training X)
new_applicant = pd.DataFrame([{
    'Gender': 1,  # 1 = Male, 0 = Female (example encoding)
    'Married': 1,
    'Dependents': 0,
    'Education': 0,  # 0 = Graduate, 1 = Not Graduate
    'Self_Employed': 0,
    'ApplicantIncome': 5000,
    'CoapplicantIncome': 2000.0,
    'LoanAmount': 150.0,
    'Loan_Amount_Term': 360,
    'Credit_History': 1,
    'Property_Area_Semiurban': False,
    'Property_Area_Urban': True
}])

# Predict
prediction = rf_model.predict(new_applicant)
print("Predicted Loan Status:", prediction)

Predicted Loan Status: [1]